SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-shared-across-services
DEBUG=True
DB_NAME=bodega_db
DB_USER=bodega_user
DB_PASSWORD=your-password-here
DB_HOST=db-bodega
DB_PORT=5432
AUTH_SERVICE_URL=http://servicio-auth:8000
